# TODO: define test matrix for platform + python version
name: Run pytest

on:
  push:
    paths:
      - 'src/**.cpp'
      - 'src-py/**.py'
      - 'tests/**.py'
  pull_request:
    paths:
      - 'src/**.cpp'
      - 'src-py/**.py'
      - 'tests/**.py'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive
    - uses: actions/setup-python@v6
      with:
        cache: pip
        cache-dependency-path: pyproject.toml
        python-version: '3.11'
    - run: pip install --group dev .
    - run: pytest
